.share-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 64px;
    height: 64px;
    outline: none;
    z-index: 100;
    background-image: url("./share.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .1s linear;
}

.share-btn:hover {
    width: 75px;
    height: 75px;
}

