.share-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 64px;
    height: 64px;
    outline: none;
    z-index: 100;
    background-image: url("./share.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .1s linear;
}

.share-btn:hover {
    width: 75px;
    height: 75px;
}


.share-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc;
    opacity: .5;
}
