@import "../../vars";

.skins-view {
  width: 100%;
  max-width: 1280px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .floating.button {
    @media (max-width: $md) {
      margin: 0 20px;
    }
    margin: auto;
    width: fit-content;
  }

  .title-wrapper {
    justify-content: space-between;
    @media (max-width: $md) {
      padding-left: 10px;
    }
    .button {
      transform: scale(0.8);
      padding: 8px 20px;
    }
  }
}

.skins {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .skin {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    position: relative;
    height: 230px;
    margin: 10px auto;
    @media (min-width: $md) {
      margin: 0 20px 20px 0;
    }
    text-align: left;
    flex-basis: 300px;
    max-width: 300px;
    cursor: default;
    opacity: 0.92;
    transition: all 0.2s ease;

    &:hover {
      opacity: 1;
    }

    &.skin-selected {
      box-shadow: 0px 0 0 4px $pink;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }

    .skin-meta {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
      padding: 10px;
      width: 100%;

      > * {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: "";
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.85),
          rgba(0, 0, 0, 0.48) 42.5%,
          rgba(0, 0, 0, 0)
        );
        width: 100%;
        height: 200%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        pointer-events: none;
        border-radius: 0 0 8px 8px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 700;
      position: relative;

      button {
        position: absolute;
        right: 0;
        top: 7px;
        width: 14px;
        height: 14px;
        background-size: contain;
        cursor: pointer;
        z-index: 10;
        opacity: 0.9;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 1;
        }
      }
    }

    p {
      font-size: 12px;
      line-height: 1.3em;

      a:hover {
        text-decoration: underline;
      }

      a,
      span {
        &:not(:last-child) {
          &::after {
            content: ", ";
          }
        }
      }
    }
  }
}

.popup.preview-skin-popup {
  .popup-content {
    position: fixed;
    left: 1%;
    top: 1%;
    width: 100%;
    height: 100%;
    max-height: 98%;
    max-width: 98%;
    transform: none;

    .close-popup {
      position: fixed;
      transform: scale(0.8);
      right: 1.3%;
      top: 1.3%;
    }
  }
}
