@import '../../vars';

.skins-view {
    width: 100%;
    max-width: 1280px;

    .floating.button {
        position: fixed;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .title-wrapper {
        justify-content: space-between;

        .button {
            transform: scale(0.8);
            padding: 8px 20px;
        }
    }
}

.skins {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .skin {
        flex: 1;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        position: relative;
        height: 230px;
        margin: 0 20px 20px 0;
        text-align: left;
        flex-basis: 300px;
        max-width: 300px;
        cursor: pointer;
        opacity: 0.92;
        transition: all 0.2s ease;

        &:hover {
            opacity: 1;
        }

        &.skin-selected {
            box-shadow: 0px 0 0 4px $pink;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        .skin-meta {
            position: absolute;
            left: 0;
            bottom: 0;
            color: #fff;
            padding: 10px;
            width: 100%;

            > * {
                position: relative;
                z-index: 2;
            }

            &::before {
                content: '';
                background: rgb(255,255,255);
                background: linear-gradient(0deg,rgba(0,0,0,.85),rgba(0,0,0,.48) 42.5%,rgba(0,0,0,0));
                width: 100%;
                height: 200%;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 0;
                pointer-events: none;
                border-radius: 0 0 8px 8px;
            }
        }

        h4 {
            font-size: 16px;
            font-weight: 700;
        }

        p {
            font-size: 12px;
            line-height: 1.3em;

            a:hover {
                text-decoration: underline;
            }

            a, span {
                &:not(:last-child) {
                    &::after {
                        content: ', ';
                    }
                }
            } 
        }
    }
}