@import "./_colors.scss";
@import "../../components/Figure/Figure.scss";
@import "../../components/Basics/basics.scss";
@import "../../components/Work/work.scss";
@import "../../components/Floor/Floor.scss";

.adventure-skin {
  font-size: 12px;
  color: #ffffff;
  h1 {
    font-size: 7em;
    margin: 0;
  }
  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  .heading {
    position: absolute;
    top: 12vh;
  }

  .user-details {
    left: 6vw;
  }



  .skills {
    left: 5%;
    z-index: -3;
  }
  .skills-list {
    width: 100vw;
    height: 55%;
    display: block;
    left: 50%;
    z-index: -3;
  }

  .about {
  }
  .subtitle {
    position: absolute;
    top: 12vh;
    left: 24vw;
    color: #ffffff;
    font-size: 90px;
  }

  .d-flex {
    display: flex;
  }
}
