@import "./fonts/oswald/oswald.css";
@import "./fonts/Arkipelago/arkipelago.css";


.BackTo90s-skin {
  background-color: #E3E7ED;
  width: 100%;
  margin:0 auto;
  font-family: 'Oswald', Arial;
  position: relative;
  text-align: center;
  background-position: center bottom;
  background-size: 100% ;
  background-repeat: no-repeat;
  background-image: url('./images/basic-bg-whole.png');
  .top-card {
    margin: 0 auto;
    max-width: 70vw;


    .card-container {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 200px auto 200px;
      border: 7px solid #000000;
      max-height: 214px;
      .card-container-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:  repeat(2, auto);
        //grid-gap: 10px;
        .card-box {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.12vw;
          flex-direction: column;
          &:nth-child(2) {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            width: 100%;
          }



        }
      }
      .card-container-left {
        text-align: left;
      }
      .card-container-right {
        text-align: right;
        img{
          transform: rotate(180deg)
        }

      }

    }
    .social-icons {
      .Twitter{
        background: url(./images/twitter.png);
        width: 40px;
        height: 40px;
      }
      .linkedin{
        width: 47px;
        height: 47px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='47px' height='48px' viewBox='0 0 47 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 22%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0.0047401148 0.0276897321 15.8322704 0.0276897321 15.8322704 16.7888983 0.0047401148 16.7888983'%3E%3C/polygon%3E%3Cpolygon id='path-3' points='0 24.4897959 24.4897959 24.4897959 24.4897959 0 0 0'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard-Copy-2' transform='translate(-114.000000, -156.000000)'%3E%3Crect id='Rectangle' fill='%23E3E7ED' x='0' y='0' width='1440' height='900'%3E%3C/rect%3E%3Cg id='Group-22' transform='translate(114.000000, 156.500000)'%3E%3Cpolygon id='Path-5' fill='%23FFFFFF' points='-2.84217094e-14 7.00765306 7 5.32907052e-14 46.3214286 5.32907052e-14 46.3214286 39.3214286 39.3214286 46.3214286 -2.84217094e-14 46.3214286'%3E%3C/polygon%3E%3Cg id='Group-4' transform='translate(7.000000, 0.000000)'%3E%3Crect id='Rectangle-Copy-3' fill='%23000000' x='0' y='0' width='39.3214286' height='39.3214286'%3E%3C/rect%3E%3Cg id='Group-7' transform='translate(7.007653, 7.007653)'%3E%3Cg id='Group-3' transform='translate(8.657526, 7.700893)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M15.8261527,16.7888983 L15.8261527,16.7878938 L15.8322752,16.7878938 L15.8322752,7.80626116 C15.8322752,3.41235172 14.8863568,0.0276897321 9.74962213,0.0276897321 C7.28021843,0.0276897321 5.62309152,1.38275989 4.94656091,2.66746971 L4.87514828,2.66746971 L4.87514828,0.437893814 L0.0047401148,0.437893814 L0.0047401148,16.7878938 L5.0761368,16.7878938 L5.0761368,8.6919595 C5.0761368,6.56029496 5.48021843,4.49913425 8.12004624,4.49913425 C10.7210826,4.49913425 10.7598262,6.93175542 10.7598262,8.82871014 L10.7598262,16.7888983 L15.8261527,16.7888983 Z' id='Fill-1' fill='%23FFFFFF' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3Cmask id='mask-4' fill='white'%3E%3Cuse xlink:href='%23path-3'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-5'%3E%3C/g%3E%3Cpolygon id='Fill-4' fill='%23FFFFFF' mask='url(%23mask-4)' points='0.404081633 24.4897959 5.48160077 24.4897959 5.48160077 8.13979592 0.404081633 8.13979592'%3E%3C/polygon%3E%3Cpath d='M2.94082749,-4.78316326e-06 C1.31737404,-4.78316326e-06 -4.78316327e-06,1.31737404 -4.78316327e-06,2.94082749 C-4.78316327e-06,4.56428093 1.31737404,5.90921078 2.94082749,5.90921078 C4.56428093,5.90921078 5.88161193,4.56428093 5.88161193,2.94082749 C5.88060746,1.31737404 4.56327647,-4.78316326e-06 2.94082749,-4.78316326e-06' id='Fill-6' fill='%23FFFFFF' mask='url(%23mask-4)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }
  }

  .user-info {
    padding-bottom: 4vw;
    position: relative;

    h1 {
      font-size: 110px;
      font-weight: 700;
      position: relative;
      z-index: 1;
      margin-top: 2vw;
    }
    .blue-triangle{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='290px' height='205px' viewBox='0 0 290 205' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1' fill='%230FBFED' points='0.86601318 0.4986875 142.636719 205 289.133987 20.6941242'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
      position: absolute;
      width: 20vw;
      height: 14.4vw;
      z-index: 0;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
    }
    h4 {
      font-family: Arkipelago;
      font-size: 6.8vw;
      color: #FF89BB;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 6.1vw;
      z-index: 3;
      white-space: nowrap;
    }



    .about-circle {
      position: absolute;
      left: 9vw;
      top: 25vw;
      z-index: 1;
      .outer {
        animation-name: spin;
        animation-duration: 10000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      .center{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
      }

    }
  }

  .main-section {
    background: url('./images/basic-bg-whole.png') no-repeat;
    background-size: 100%;
    .main-description {
      display: block;
      padding: 0vw 26vw 6vw;
      text-align: center;
      font-size: 1.65vw;


      .main-divider {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='86px' height='43px' viewBox='0 0 86 43' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 3%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard-Copy-2' transform='translate(-677.000000, -512.000000)'%3E%3Crect id='Rectangle' fill='%23E3E7ED' x='0' y='0' width='1440' height='900'%3E%3C/rect%3E%3Cg id='Group-3' transform='translate(677.000000, 512.968750)'%3E%3Cpolygon id='Rectangle' fill='%23000000' points='0 7.03125 85.2734375 7.28861416e-14 76.3725926 41.03125 0 41.03125'%3E%3C/polygon%3E%3Cpath d='M11.3687555,30.2805155 C10.5052518,30.2262089 9.66262411,29.8424133 9.04510586,29.1422673 C7.81050732,27.7416834 7.94495987,25.605625 9.34539783,24.3708805 L21.8251059,13.3683987 C23.2256898,12.1339462 25.3617482,12.2682527 26.5964927,13.6685447 L34.983938,23.1821214 L44.7845219,14.5418294 C46.1851059,13.3073768 48.3211643,13.4416834 49.5559088,14.8421214 L57.943354,24.355698 L67.4569307,15.9682527 C68.8573686,14.7336542 70.993573,14.8681068 72.2283175,16.2683987 C73.4629161,17.6689827 73.3284635,19.8050411 71.9281716,21.0397856 L59.8786825,31.6628513 C58.4782445,32.8973038 56.3421862,32.7629973 55.1072956,31.3627053 L46.7199964,21.8491286 L36.9194124,30.4894206 C35.5188285,31.7238732 33.3827701,31.5895666 32.1478796,30.1892746 L23.7605803,20.675698 L13.8166387,29.4424133 C13.1163467,30.0596396 12.2322591,30.3348221 11.3687555,30.2805155' id='Fill-1' fill='%23FFC91E'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        height: 42px;
        position: relative;
        display: block;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 1vw;
      }
      .extra-summary {
        overflow: hidden;
        max-height: 7.7vw;
        text-align: center;
        display: block;
        transform-origin: top;
        transition: max-height 1ms ease;
        &.visible {
          overflow: visible;
          max-height: 100%;
          transform-origin: top;
          transition: max-height 1ms ease;

        }

      }
      .read-more {
        color: #EE6513;
        font-size: 1.44vw;
        text-decoration: underline;
        padding-top: 15px;
        cursor: pointer;
      }
    }
  }
  .work-section {
    background-size: 100% ;
    background-repeat: no-repeat;
    //background-image: url('./images/basic-bg.png');
    padding-top: 9.4vw;
    padding-bottom: 30vw;
    z-index: 1;
    position: relative;
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
