.profile-view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-wrapper {
    flex-grow: 1;
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.profile-edit-import-selection-title {
    font-size: 15px;
    color: #666;
    text-align: center;
}

.profile-edit-import-selection-title a {
    color: #0d5aa7;
}


.profile-edit-import-selection {
    width: 100%;
}

.profile-edit-import-selection ul {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-edit-import-selection li {
    margin: 10px;
    padding: 20px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    width: 230px;
    justify-content: center;
}

.profile-edit-import-selection li > img {
    width: 24px;
    margin-right: 8px;
}

.profile-edit-import-selection li.active {
    background-color: #eee;
    border-color: #888;
}

.profile-edit-import-selection li:hover {
    border-color: #888;
}

.profile-editor {
    width: 100%;
    flex-grow: 1;
}

.profile-editor-wrapper {
    height: 100%;
}

.profile-editor-wrapper > div {
    height: 100%;
}

div.jsoneditor-outer.has-main-menu-bar {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.file-import {
    color: #666;
    font-size: 28px;
    margin-top: 60px;
}

.drag-active {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: lightblue;
    color: darkslategray;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding: 10px;
}
