@import "../../vars";

.profile-view {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .buttons-wrapper {
    a {
      margin-right: 10px;

      &.disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}

.profile-edit-drop-msg {
  border: 1px dashed #a3a3a3;
  padding: 50px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 20px;
  width: 840px;
  position: relative;

  &.post-upload::after {
    content: "";
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url(../../images/v-turquoise.png) no-repeat center center;
    background-size: contain;
  }

  > button {
    color: $turquoise;
    outline: none;
    text-decoration: underline;
  }

  + p {
    color: #a3a3a3;
    font-size: 16px;

    a {
      color: $turquoise;
      text-decoration: underline;
    }
  }
}

.drag-active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightblue;
  color: darkslategray;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  padding: 10px;
  z-index: 10;
}
