.adventure{
  display: flex;
  .figure{
    height: 100px;
    width: 100px;
    background: #ffc800;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  
  .section {
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("./assets/Cartoon_Forest_BG_04/Layers/Middle_Decor.png"), url("./assets/Cartoon_Forest_BG_04/Layers/BG_Decor.png");
  }
}