.company-description {
  padding: 20px;
  border: 5px solid #777;
  width: fit-content;
  font-size: 20px;
  background: #444;
  position: absolute;
  top: 0;
}
.dates {
  font-size: 30px;
  font-weight: 600;
}

.name {
  font-weight: 900;
  font-size: 40px;
}

.website {
  display: inline;
  font-size: 15px;
  margin-left: 20px;
}
