.adventure-skin {
    .log-spike-wall {
        position: fixed;
        background-image: url("../../assets/objects/Log_Spike_Wall_02.png");
        background-repeat: repeat;
        background-size: contain;
        width: 705px;
        height: 200px;
        top: 80vh;
        z-index: 5;
    }

    .log-cabin {
        margin-left: 100px;
        position: fixed;
        background-image: url("../../assets/objects/Log_Cabin_01\ Model.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 550px;
        height: 700px;
        top: 48vh;
        z-index: 4;
    }
}
