@import url('https://fonts.googleapis.com/css2?family=VT323:wght@300;400;700&display=swap');

.cv-viewer-wrapper.skin-Basic {
  height: auto;
}

.basic-skin {
  position: relative;
  line-height: 1.5em;
  font-family: 'VT323', courier;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  word-break: break-word;
  background: #282828;

  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 48px;
    line-height: 54px;
    font-weight: bold;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  h5 {
    font-size: 14px;
    font-weight: bold;
  }

  h6 {
    font-size: 13px;
  }

  p {
    line-height: 1.7em;
    font-size: 16px;
    margin: 0;
  }

  hgroup {
    margin-bottom: 20px;

    h6 {
      color: #808080;
      font-style: italic;
    }
  }

  ul {
    list-style: disc;
    padding: 0 30px;

    li {
      margin-bottom: 10px;

      h4 {
        margin-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  section {
    margin-bottom: 40px;

    h2, h3 {
      margin-bottom: 20px;
    }

    p + ul {
      margin-top: 20px;
    }
  }

  main {
    padding: 80px 40px;
    color: #33FF00;
    flex: 1;

    a {
        text-decoration: underline;
    }
  }
}
