#term-wrapper {
    flex-grow: 1;
}

.Terminal {
    overflow-x: scroll;
}
.Terminal div {
    white-space: pre;
}

.user-input, .input-line {
    position: relative;
    padding-left: 70px;
}
.user-input:before, .input-line:before {
    content: 'mysql> ';
    position: absolute;
    left: 0;

}
