@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.cv-viewer-wrapper {
    height: 100% !important;
}

pre#style-text {
    height: 100%;
    width: 30%;
    max-width: 400px;
    overflow: auto;
    background-color: #313744;
    color: #a6c3d4;
    padding: 24px 12px;
    margin: 0;
}

/*
 * Syntax highlighting
 * Colors based on Base16 Ocean Dark
 */

pre#style-text em:not(.comment) { font-style: normal; }

pre#style-text .comment       { color: #707e84; }
pre#style-text .selector      { color: #c66c75; }
pre#style-text .selector .key { color: #c66c75; }
pre#style-text .key           { color: #c7ccd4; }
pre#style-text .value         { color: #d5927b; }

.ct-output {
    display: none;
    font-family: Lato, sans-serif;
}

.ct-container {
    background-color: #fff;
    color: #fff;
    font-size: 13px; line-height: 1.4;
    -webkit-font-smoothing: subpixel-antialiased;
    width: 100%;
    display: flex;
}


/**********************************************/
