.lvl-skills{
  position: relative;
  ul{
    display: flex;
    flex-flow: column;
    height: 97%;
    flex-wrap: wrap;
    position: relative;
    li.skill-item{
      font-size: 2.6em;
      padding: 8px;
    }
  }

}

.sky{
  height: 50%;
  width: 100%;
  position: absolute;
  background: url("../../assets/game_background_1/layers/clouds_1.png") repeat;
  //background-size: contain;
  transform-style: preserve-3d;
  animation-timing-function: linear;
  background-position: 0px 0px;

  animation: animatedBackground 500s linear infinite;

  .clouds2{
    background: url("../../assets/game_background_1/layers/clouds_2.png") no-repeat;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: inherit;
    top: 30%;
    left: 5%;
    transform: translateZ(1px) ;
    transform-origin: 100% 50%;
  }

  @keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300vw 0; }
  }

  @-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300vw 0; }
  }

}
