
      .blue-banner {
        position: fixed;
        background-image: url("../../assets/objects/Banner_01_Blue.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 270px;
        height: 600px;
        top: 70vh;
        z-index: 5;
      }

      .blue-banner-1 {
        margin-left: 200px;
      }

      .blue-banner-2 {
        margin-left: 400px;
      }

      .blue-banner-3 {
        margin-left: 600px;
      }