.barrel  {
    position: fixed;
    background-image: url("../../assets/objects/Barrel_01.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    top: 78vh;
    z-index: 5;
}
.barrel-1 {
    margin-left: 300px;
}
.barrel-2 {
    margin-left: 400px;
}

.barrel-3 {
    margin-left: 500px;
}
.shelter {
    position: fixed;
    background-image: url("../../assets/objects/Shelter_03_Cloth.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 550px;
    height: 550px;
    top: 60vh;
    z-index: 6;
}