@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.cv-viewer-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
}

@keyframes slideBottomTop {
  from {
    right: -78px;
    bottom: -60px;
    //right: 0;
    //bottom: 0;
  }

  50% {

    bottom: 200px;
    right: 30px;
  }

  to {
    //right: 0;
    //bottom: 0;
    right: -78px;
    bottom: -60px;
  }
}

@keyframes grow {
  from {
    width: 300px;
  }

  50% {
    width: 150px;
    right: -50px;
    top: -50px;
  }

  to {
    width: 300px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(30deg);
  }

  to {
    transform: rotate(-30deg);
  }
}


//section {
//  position: relative;
//}

.education-img {
  position: relative;
  min-height: 500px;
  overflow: hidden;
  img {
    top: 0;
    position: absolute;
    transition: transform 0.7s ease-in;
  }
}

.education-img:hover {
  img {
   transform: scale(1.2);
    transform-origin: center;

  }
}

.education {
  position: relative;
  &:hover {
    .boom {
      opacity: 1;
      animation-iteration-count: infinite;
      animation-duration: 1.5s;
      animation-name: rotate;
    }
  }
  .boom {
    opacity: 0;
    width: 260px;
    bottom: -103px;
    position: absolute;
    right: 0;
  }
}

.cartoon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 380px;
  &:hover {
    .bazinga-2 {
      opacity: 0;
    }
    .bazinga {
      opacity: 1;
    }
  }
  .bazinga-2 {
    position: absolute;
    width: 250px;
    z-index: 10;
    left: -54px;
    top: -67px;
  }
  .bazinga {
    opacity: 0;
    position: absolute;
    width: 250px;
    z-index: 10;
    right: -54px;
    top: -67px;
  }
  .baloon-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .profile-image-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    //img {
    //  max-width: 530px !important;
    //}

    img{
      cursor:pointer;
      position:absolute;
      max-width: 530px !important;
      max-height:100%;
      transition: opacity 0.7s ease-in-out;
    }

    .profile-image-regular{
      opacity: 1;
    }
    .profile-image-cartoon{
      opacity: 0;
    }
  }

  &:hover{
    .profile-image-regular{
      opacity: 0;
    }
    .profile-image-cartoon{
      opacity:1;
    }
  }
}

.comics-skin {
  font-family: 'Coming Soon', cursive;
  $min-width: 700px;
  $yellow: #fed716;
  $orange: orange;
  $orange-red: orangered;
  $pink: #da1c5b;
  $pink2: #ef018c;
  $pink3: #b62f8c;
  $red: #ec1d24;
  $purple: #2f3091;
  $light-blue: #29a9e1;
  $green: #3ab44a;
  $default-border: 8px solid black;
  $default-margin: 13px;
  $font-weight-bold: 600;

  min-width: $min-width;
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 30px;


  @keyframes changeColor {
    from {
      color: $red
    }
    10% {
      color: $pink2
    }
    20% {
      color: $pink3
    }
    30% {
      color: $purple
    }
    40% {
      color: $light-blue
    }
    50% {
      color: $green
    }
    70% {
      color: $yellow
    }
    80% {
      color: $orange
    }
    90% {
      color: $orange-red
    }
    to {
      width: $red;
    }
  }

  .select-gender {
    display: flex;
    button {
      width: 150px;
      background: $orange-red;
      height: 70px;
      margin: 20px;
      border-radius: 20px;
      border: 3px solid black;
      outline: none;
      &.male {
        background: $orange;
      }
      &:hover {
        color: white
      }
    }
  }

  .bg-yellow {
    background: $yellow;
  }
  .bg-orange-red {
    background: $orange-red;
  }

  .bg-green {
    background: $green;
  }

  .bg-pink {
    background: $pink;
  }

  .bg-light-blue {
    background: $light-blue;
  }
  .bg-purple {
    background: $purple;
    color: white;
  }
  .bg-black {
    //display: flex;
    background: black;
  }

  .experience-image {
    display: flex;
  }

  .basics-info {
    display: flex;
    border: $default-border;
    width: 100%;
    min-height: 250px;
    max-height: 450px;
    background: $yellow;
    position: relative;

    .profile-image {
      max-width: 450px;
      &:hover {
        .speech-bubble {
          opacity: 1;
        }
      }
      .speech-bubble {
        z-index: 10;
        position: absolute;
        bottom: -122px;
        left: 264px;
        opacity: 0;
        img.speech-bubble-cloud {
          width: 300px;
        }
        span {
          position: absolute;
          top: 103px;
          left: 57px;
          font-size: 31px;
        }
      }
    }

    img.profile-pic {
      height: 100%;
      border-right: $default-border;
      &:hover {

      }
    }
    img.pow {
      //opacity: 0;
      position: absolute;
      width: 300px;
      right: -78px;
      bottom: -60px;
      animation-iteration-count: 3;
      animation-duration: 1s;
      animation-name: slideBottomTop;
    }
    &:hover {
      img.pow {
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-name: slideBottomTop;
      }
    }
    .basics-content {
      padding-left: 30px;
      header {
        .name {
          font-family: 'Bangers', cursive;
          font-size: 3em;
          margin: 0.3em 0 0.1em 0;
        }
        h4 {
          font-weight: $font-weight-bold;
          margin-bottom: $default-margin;
        }
      }
      section {
        position: relative;
        margin-bottom: $default-margin;
        h3 {
          font-weight: $font-weight-bold;
        }
      }
      .skills {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .profile-image{
    max-height:100%;
    max-width:100%;
  }

  .experience-image {
    position: relative;
    &:hover {
      .speech-bubble-2 {
        opacity: 1;
      }
    }
    .speech-bubble-2 {
      opacity: 0;
      position: absolute;
      left: 76px;
      top: -188px;
      img {
        width: 325px !important;
      }
      .nerdy-joke {
        position: absolute;
        top: 90px;
        left: 40px;
        width: 205px;
        .question  {
          padding-bottom: 10px;
        }
        .answer {
          padding-left: 40px;
        }
      }
    }
  }


  main.main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    section {
      h2 {
        font-weight: $font-weight-bold;
      }
      padding: 25px;
      border: $default-border;
      margin: 15px 0;
      width: 49%;
      &.section-img {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        img {
          width: 100%;
        }
      }
    }
    .summary {
      width: 100%;
      background: $green;
    }
    .experience {
      background: $pink2;
      position: relative;
      &:hover {
        img.wow {
          animation-iteration-count: infinite;
          animation-duration: 1.5s;
          animation-name: grow;
        }
      }
      img.wow {
        //opacity: 0;
        position: absolute;
        width: 300px;
        right: -79px;
        top: -124px;
        z-index: 10;
      }
    }
  }

  .education-img-wrapper {
    width: 49%;
    position: relative;
    section {
      width: 100% !important;
    }
    &:hover {
      .speech-bubble-square {
        opacity: 1;
      }
    }
    .speech-bubble-square {
      opacity: 0;
      position: absolute;
      top: -56px;
      width: 330px;
      right: -39px;
      z-index: 5;
      img {
        width: 100%;
        transform: scaleX(-1);
      }
      .bubble-text{
        position: absolute;
        top: 35px;
        left: 95px;
        display: flex;
        flex-direction: column;
        z-index: 10;
        .hire {
          color: red;
          font-weight: 600;
          font-size: 22px;
          padding-left: 30px;
          animation-iteration-count: infinite;
          animation-duration: 1.5s;
          animation-name: changeColor;
        }
      }
    }
  }


  .languages {
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      top: -75px;
    }
    .text-wrapper {
      z-index: 10;
    }
  }

}

