@import "../../vars";

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #c5c5c5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  @media (max-width: $md) {
    padding: 10px;
  }

  nav {
    flex: 1;
    justify-content: center;
    @media (max-width: $md) {
      display: none !important;

      &.active {
        display: flex !important;
      }
      flex-direction: column;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      color: #939393;
      padding: 15px 20px 12px;
      margin: 0 20px;
      border-bottom: 3px solid transparent;

      &:hover {
        color: #656565;
      }

      &.active {
        color: $turquoise;
        border-bottom-color: $turquoise;
      }
    }
  }
}
.header-mobile {
  &-activator {
    cursor: pointer;
    @media (min-width: $md) {
      display: none;
    }

    &.active {
      display: none;
    }
  }
  &-close {
    align-self: flex-start;
    display: none;

    &.active {
      display: inline;

      @media (min-width: $md) {
        display: none;
      }
    }
  }
}
.header-logo {
  @media (max-width: $md) {
    display: none;
  }
  width: 30px;
  margin-right: 10px;
}
