@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

.cv-viewer-wrapper.skin-Basic {
  height: auto;
}

.basic-skin {
  position: relative;
  line-height: 1.5em;
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  word-break: break-word;

  $lead-color: #124c41;
  $sidebar-width: 400px;
  $breakpoint: 800px;

  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $lead-color;
    top: 0;
    left: 0;
    width: $sidebar-width;
    min-height: 100%;

    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 48px;
    line-height: 54px;
    font-weight: bold;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  h5 {
    font-size: 14px;
    font-weight: bold;
  }

  h6 {
    font-size: 13px;
  }

  p {
    line-height: 1.7em;
    font-size: 16px;
    margin: 0;
  }

  hgroup {
    margin-bottom: 20px;

    h6 {
      color: #808080;
      font-style: italic;
    }
  }

  ul {
    list-style: disc;
    padding: 0 30px;

    li {
      margin-bottom: 10px;

      h4 {
        margin-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  section {
    margin-bottom: 40px;

    h2, h3 {
      margin-bottom: 20px;
    }

    p + ul {
      margin-top: 20px;
    }
  }

  aside {
    width: $sidebar-width;
    padding: 80px 40px;
    color: #fff;
    position: relative;
    position: sticky;
    top: 0;

    @media screen and (max-width: $breakpoint) {
      position: relative;
      width: 100%;
      padding: 50px 20px;
      background-color: $lead-color;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }

    header {
      text-align: center;
      margin-bottom: 40px;

      img {
        border-radius: 50em;
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
      }

      h1 {
        margin: 0;
        padding-bottom: 10px;
        line-height: 1.2em;
        border-bottom: 1px solid #fff;
      }

      h4 {
        margin: 0;
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }

    .skills {
      display: inline-flex;
      height: 50%;
      flex-flow: column;
      width: 400vw;
      flex-wrap: wrap;
      justify-content: space-evenly;

      > * {
        font-size: 14px;
        padding: 3px 10px;
        margin: 0 5px 5px 0;
        border: 1px solid #fff;
      }
    }

    .links {
      p {
        margin: 0 0 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        label {
          width: 120px;
        }

        span {
          flex: 1;
        }
      }
    }
  }

  main {
    padding: 80px 40px;
    color: #222;
    flex: 1;

    @media screen and (max-width: $breakpoint) {
      margin-left: 0;
      padding: 50px 20px;
      width: 100%;
    }

    a {
      color: $lead-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
