.floor {
    height: 10vh;
    width: 100vw;
    background-image: url(../../assets/Tiles/surface8.png);
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
    top: 95%;
    z-index: 10;
}
