.floor {
    height: 100px;
    width: 100vw;
    background-image: url(../../assets/Tiles/surface8.png);
    background-size: contain;
    background-repeat: repeat;
    position: fixed;
    bottom:  0%;
    z-index: 10;
}
