@import '../../vars';

.footer-wrapper {
    color: #fff;
    background: #1C314B;
    padding: 20px 0;
    font-size: 16px;
    margin-top: 80px;

    a {
        color: $turquoise;

        &:hover {
            text-decoration: underline;
        }
    }
}
