.lvl-contact {
  position: relative;
  ul {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    li.skill-item {
      font-size: 2.6em;
      padding: 8px;
    }
  }
  .link-item {
    font-size: 2rem;
    padding: 8px;
    text-decoration: underline;
  }

  .trees-trick {
    position: absolute;
    background-image: url(/cv-boostifier/static/media/ground_3.4d607fc7.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 120vh;
    top: 0vh;
    right: 11px;
    left: -3%;
    z-index: 6;
  }
  .rock {
    position: absolute;
    background-image: url("../../assets/objects/Rock_01.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 239px;
    height: 150px;
    bottom: -40px;
    left: -5%;
    z-index: 6;
  }
}
