.lvl-education-background {
    background-image: url("../../assets/City3/sky.png");
    background-size:contain;
    width: 100vw;
    z-index: 0;
}
.lvl-education-item {
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.lvl-education-houses-3{
    background-image: url("../../assets/City3/houses3.png");
    z-index: 1;
}
.lvl-education-houses-2{
    background-image: url("../../assets/City3/houses2.png");
    z-index: 2;
}
.lvl-education-houses-1{
    background-image: url("../../assets/City3/houses1.png");
    z-index: 3;
}
.lvl-education-road{
    background-image: url("../../assets/City3/road.png");
    z-index: 4;
}
.lvl-education-crosswalk{
    background-image: url("../../assets/City3/crosswalk.png");
    z-index: 5;
}
.lvl-education-data {
    z-index: 6;
}
