@import "../../vars";

.home-view {
  section {
    padding: 40px 0 80px;
  }

  h3 {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
    color: $turquoise;
    margin: 0 0 40px;
    letter-spacing: 0.04em;
  }

  .gh-buttons {
    > * {
      margin: 0 5px;
    }
  }
}

#hero {
  h1 {
    font-size: 3em;
    @media (min-width: $md) {
      font-size: 130px;
    }
    line-height: 160px;
    margin: 0 0 10px;
  }

  h2 {
    font-size: 50px;
    line-height: 80px;
    color: $pink;
    font-weight: 700;
  }

  .hero-copy {
    margin: 10px auto 0;
    max-width: 75%;
    @media (min-width: $md) {
      max-width: 50%;
    }
    font-size: 18px;

    p {
      margin-bottom: 20px;
    }

    ul {
      background: rgba(164, 170, 171, 0.1);
      border: 1px dashed rgba(164, 170, 171, 0.2);
      padding: 15px;
      text-align: left;
      border-radius: 10px;
      margin-bottom: 20px;
      font-size: 15px;

      li {
        margin: 0 10px 10px 0;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "😎";
          margin-right: 10px;
          font-size: 14px;
        }
      }
    }
  }

  .buttons-wrapper {
    margin-top: 20px;
  }
}

.skins-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  @media (min-width: $md) {
    display: flex;
  }

  justify-content: space-around;
  margin-bottom: 40px;

  .skin {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    position: relative;
    height: 230px;
    margin: 0 10px;
    text-align: left;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }

    .skin-meta {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
      padding: 10px;
      width: 100%;

      > * {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: "";
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.85),
          rgba(0, 0, 0, 0.48) 42.5%,
          rgba(0, 0, 0, 0)
        );
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        pointer-events: none;
        border-radius: 0 0 8px 8px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 700;
      position: relative;

      button {
        position: absolute;
        right: 0;
        top: 7px;
        width: 14px;
        height: 14px;
        background-size: contain;
        cursor: pointer;
        z-index: 10;
        opacity: 0.9;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 1;
        }
      }
    }

    p {
      font-size: 12px;
      line-height: 1.3em;

      a:hover {
        text-decoration: underline;
      }

      a,
      span {
        &:not(:last-child) {
          &::after {
            content: ", ";
          }
        }
      }
    }
  }
}

.contribution-copy {
  a {
    color: $pink;

    &:hover {
      text-decoration: underline;
    }
  }
}

#how-it-works {
  width: 90%;
  @media (min-width: $md) {
    width: 50%;
  }

  .steps-wrapper {
    justify-content: space-around;
    align-items: flex-start;
  }

  .step {
    flex: 1;
    position: relative;

    &:first-child,
    &:nth-child(2) {
      &::after {
        content: "";
        width: 50%;
        border-bottom: 2px dashed $turquoise;
        position: absolute;
        left: 75%;
        top: 30px;
      }
    }

    h2 {
      font-family: $secondary-font;
      font-weight: normal;
      font-size: 36px;
      line-height: 51px;
      letter-spacing: 0.08em;
      color: #ffffff;
      background: linear-gradient(180deg, #66bec7 0%, #96d9e0 100%);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
      border-radius: 50em;
      display: inline-block;
      padding: 10px;
      width: 70px;
      height: 70px;
      margin: 0 0 20px;
    }
  }
}

#faq {
  max-width: 1200px;
}
