@import './fonts/stylesheet.css';
@import './vars';

body {
  margin: 0;
  padding: 0;
  color: #858585;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
  font-family: $main-font;
  background: #fff;
  min-height: 100vh;
  width: 100vw;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 50em;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 700;
  border: 1.5px solid $blue;
  transition: all 0.2s ease;
  display: inline-block;
  background: #fff;
  color: $blue;

  &:hover {
    background: $blue;;
    color: #fff;
  }

  &:disabled {
    opacity: 0.3;
  }

  &.primary {
    background: $blue;;
    color: #fff;

    &:hover {
      background: #fff;
      color: $blue;
    }
  }
}