@import './fonts/stylesheet.css';
@import './vars';

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #858585;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
  font-family: $main-font;
  background: #fff;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.special-bg {
  position: relative;

  &::before, &::after {
    content: '';
    background: url('./images/left-shape.png') -20% 100px no-repeat;
    background-size: 40%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
  }

  &::after {
    background-image: url('./images/right-shape.png');
    background-position-x: 120%;
    right: 0;
    left: auto;
  }
}

.character {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(100%);
  top: 50px;
  width: 20vw;
  height: 80vh;
  background: url('./images/geek.png') top center no-repeat;
  background-size: contain;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 50em;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 700;
  border: 1.5px solid $blue;
  transition: all 0.2s ease;
  display: inline-block;
  background: #fff;
  color: $blue;
  outline: 0;

  &:hover {
    background: $blue;;
    color: #fff;
  }

  &:disabled {
    opacity: 0.3;
  }

  &.primary {
    background: $blue;;
    color: #fff;

    &:hover {
      background: #fff;
      color: $blue;
    }
  }
}

.view-title {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 45px;
  color: $turquoise;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.crazy-title {
  font-weight: 400;
  font-family: $secondary-font;
  color: $turquoise;
  text-shadow: 7px -6px 0 $blue;
  letter-spacing: 0.06em;
}

.wizard-view {
  padding: 50px 0;
}