.themes-view {
    width: 100%;
    margin-top: 70px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.themes-wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.themes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.theme {
    margin: 10px;
    width: 270px;
    height: 350px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid rgba(208,208,208,.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.theme > img {
    height: 200px;
    width: 100%;
    padding: 10px;
}

.theme.active {
    border: 2px solid #666;
}

.theme-details {
    border-top: 1px solid rgba(208,208,208,.5);
    padding-top: 10px;
    padding-left: 10px;
}

.theme-name {
    font-size: 16px;
    color: #669;
    font-weight: bold;
}

.theme-created-by {
    font-size: 12px;
    color: #666;
}

.theme-btn {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.theme-btn button {
    border: 1px solid #8b8bad;
    padding: 2px 0;
    color: #8b8bad;
    border-radius: 5px;
    width: 120px;
}

.theme-btn button:hover {
    border: 2px solid #669;
    color: #669;
}

