.career-card {

  background-image: url("../images/career-card-frame.png");
  background-repeat: no-repeat;
  width: 795px;
  height: 555px;
  margin: 0 auto;

  h2 {
    font-family: 'Arkipelago', Arial;
    font-size: 94px;
    font-weight: bold;
  }

  .career-slider-holder {
    border: 5px solid #000;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 23% 68%;

    .building-image {
      background-image: url("../images/career-card-building.png");
      background-repeat: no-repeat;
    }
    .card-slider-wrapper{
      .card-slider-inner {
        overflow-x: hidden;
        width: 495px;

        .card-slider {
          display: flex;
          width: 10000px;
          transition: transform 1s ease;

          ul {
            width: 495px;
            height: auto;
            margin-right: 50px;

            li {

              &.item-holder {
                display: grid;
                grid-template-columns: 30% 70%;
                border: 2px solid #000;

                .item-title {
                  background-color: #000;
                  color: #fff;
                  padding: 6px;
                }
              }
              &.position {
                position: relative;
                margin: 25px 0;

                &::before {
                  content: url('../images/career-card-slider-position-hand.png');
                  position: absolute;
                  top: -20px;
                  left: 125px;
                }
              }



              &.dates {
                background-color: #EE6513;
                padding: 8px 0 0 0;

                .dates-inner {
                  background-color: #478AFE;
                  background-image: url("../images/career-card-slider-dates-arrow.svg");
                  background-repeat: no-repeat;
                  color: #fff;
                  background-position: 10px center;
                  padding: 6px 6px 6px 39%;
                  box-sizing: border-box;
                  text-align: left;
                  border: 2px solid #000;
                }

              }

            }
          }
        }

      }


      .card-slider-controls {
        display: grid;
        grid-template-columns: 300px 195px;

        .buttons {
          display: grid;
          grid-template-columns: auto auto;
        }
      }

    }

  }
}


