.linkedin-btn {
    position: fixed;
    bottom: 20px;
    right: 100px;
    outline: none;
    z-index: 100;
    border: solid 1px #ccc;
    border-radius: 50%;
    opacity: .7;
    background: white;
    display: flex;
}

.linkedin-btn:hover {
    opacity: 1;
}

.import-title {
    color: #666;
    font-size: 28px;
    margin-top: 60px;
}

ol {
    list-style: none;
    counter-reset: my-counter;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}
ol li {
    counter-increment: my-counter;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
ol li::before {
    content: counter(my-counter);
    font-size: 40px;
    margin-right: 10px;
    font-weight: bold;
    color: #666;
}

ol > li > button {
    color: #0d5aa7;
}
