.linkedin-btn {
    position: fixed;
    bottom: 20px;
    right: 100px;
    outline: none;
    z-index: 100;
    border: solid 1px #ccc;
    border-radius: 50%;
    opacity: .7;
    background: white;
    display: flex;
}

.linkedin-btn:hover {
    opacity: 1;
}

